/*
Theme Name: UnderStrap
Theme URI: http://understrap.com
Author: Holger Koenemann
Author URI: http://www.holgerkoenemann.de
GitHub Theme URI: holger1411/understrap
Description: Combination of Automattic´s _s theme and Bootstrap 4. Made as a solid starting point for your next theme project and WordPress website. Use it as starter theme or as a parent theme. It is up to you. Including Font Awesome support, built-in widget slider and much more you need for basic websites. IMPORTANT: All developer dependencies are not bundled with this install file. Just download the .zip, extract it and run "npm install" and "gulp copy-assets" inside the extracted /understrap folder. 
That downloads everything and moves it in place so that you can recompile your CSS and JS files;
A developer version (with Gulp/node and Sass sources) is available on gitHub: https://github.com/holger1411/understrap
A child theme is available on Github, too: https://github.com/holger1411/understrap-child;
Version: 0.6.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: understrap
Tags: one-column, custom-menu, featured-images, theme-options, translation-ready

This theme, like WordPress, is licensed under the GPL.
UnderStrap is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.

Resource Licenses:
Font Awesome: http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
Bootstrap: http://getbootstrap.com | https://github.com/twbs/bootstrap/blob/master/LICENSE (Code licensed under MIT, documentation under CC BY 3.0.)
Owl Carousel 2: http://www.owlcarousel.owlgraphic.com/ | https://github.com/smashingboxes/OwlCarousel2/blob/develop/LICENSE (Code licensed under MIT)
and of course
jQuery: https://jquery.org | (Code licensed under MIT)
WP Bootstrap Navwalker by Edward McIntyre: https://github.com/twittem/wp-bootstrap-navwalker | GNU GPL
*/

/*
This file is just used to identify the theme in WordPress.
The compiled CSS output can be found in /css/theme.css
The SASS sources for it can be found in /sass/
The dependencies can be found in /src/ after running "gulp copy-assets" terminal command

...and now go out and play!
*/

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}
.no-gutters .col{
    padding: 0;
}
.text-center{
    text-align: center;
}
/*#wpadminbar{*/
    /*display: none !important;*/
/*}*/
.fixed.header{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    border-bottom: 3px solid rgba(238, 110, 115, .75);
}

.fixed.header .wrap{
    border-bottom: 1px solid #efefef;
}
.fixed.header .logo{
    padding-top: .5rem;
    font-size:1.5rem;
    font-weight: bolder;
    display: inline-block;
}
.fixed.header .logo > div{
    padding:.2rem .4rem;
}
.fixed.header .language{
    float: right;
    padding-top: .5rem;
    padding-right: .5rem;
}
.fixed.header .language a{
    background: #ffffff;
    color: #000000;
    padding: 0 .5rem;
    border: 1px solid #efefef;
}



.table-of-contents{
    white-space: nowrap;
    overflow-x: scroll;
}
.table-of-contents li{
    display: inline;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.table-of-contents.section{
    padding: 0 .2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}
.table-of-contents a{
    padding-left: 0 !important;
    padding-top: .2rem;
    padding-bottom: .2rem;
    height: initial !important;
    text-decoration: none;
}
.table-of-contents a.active{
    border-left: 0 !important;
    border-bottom: 2px solid #ee6e73;
    color: #000 !important;
}

.table-of-contents a:focus,
.table-of-contents a:hover{
    border-left: 0 !important;
}
.outer{
    margin-top: 6.5rem;
    margin-bottom: 4rem !important;
}
.outer .section{
    padding-top: 0;
    padding-bottom: 0;
}
.outer .section .row{
    margin-bottom: 0;
}
.outer .category{
    background: #ee6e73;
    color: #ffffff;
    padding: .5rem .3rem;
}
.outer .item{
    padding: .5rem;
    border-bottom: 1px solid #efefef;
}
.outer .item .image img{
    width: 100%;
    height: auto;
}
.outer .item .info{
    padding: 0 .5rem;
}
.outer .item .info .title{
    font-size: 1rem;
    font-weight: bolder;
    display: inline-block;
}
.outer .item .info .price{
    text-align: right;
    display: inline-block;
    float: right;
}

.outer .item .info .price .cross{
    text-decoration: line-through;
}
.outer .item .info .price .text-red{
    color: #ee6e73;
}

.fixed.menu-bottom{
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #ee6e73;
}
.fixed.menu-bottom .row{
    margin-bottom: 0;
    font-weight: bolder;
    color: #ffffff;
}
.fixed.menu-bottom .shops{
    border-left: 1px solid #efefef;
    padding: 1rem;
}
.fixed.menu-bottom .shop-info{
    padding: 1rem;
}
.fixed.menu-bottom .shop-info a{
    color: #ffffff;
}
.fixed.menu-bottom .menu-dropup{
    display: none;
    position: fixed;
    bottom: 3.5rem;
    right:0;
    background: #ee6e73;
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.fixed.menu-bottom .menu-dropup ul{
    margin: 0;
}

.fixed.menu-bottom .menu-dropup li{
    border-bottom: 1px solid #efefef;
    padding: .5rem;

}
.fixed.menu-bottom .menu-dropup a{
    color: #ffffff;
}
.modal .modal-content img{
    width: 100%;
}
@media screen and (max-width : 992px){
    .modal{
        width: 95%;
    }
}
.outer-view{
    margin: 4rem 0;
}

.outer-view .title{
    font-size: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #efefef;
}

.outer-view .map{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.outer-view .map iframe{
    width:100%;
    height: 30vh;
}
table.widefat th,
table.widefat td .order-col{
    cursor: pointer;
}

table.widefat td .new-order{
    width: 3rem;
}

.sticky-top{
    background: #ffffff;
    padding: .5rem 0;
    border-bottom: 2px solid #efefef;
}

html[lang="en-us"] {margin-top:0 !important;}

@media screen and (min-width: 640px) {
    .front-view{
        max-width: 640px;
        margin: auto;
    }
    .front-view .fixed{
        max-width: 640px;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .front-view .menu-bottom.shop-info{
        transform: translateX(0);
    }
    .outer{
        margin-top: 7.5rem;
    }
}

